In [1]:
from eto import ETo, datasets
import pandas as pd

In [2]:
et1 = ETo()

In [3]:
ex1_path = datasets.get_path('example_daily')
tsdata = pd.read_csv(ex1_path, parse_dates=True, infer_datetime_format=True, index_col='date')

In [4]:
tsdata.head()

             R_s      T_max  T_min   e_a
date
2000-01-01  13.4  17.700001   13.7  1.60
2000-01-02  14.7  19.600000   13.0  1.68
2000-01-03  12.2  21.700001    9.2  1.09
2000-01-04   4.2  14.400000    8.4  1.04
2000-01-05  14.1  11.700000    8.9  1.12

In [5]:
z_msl = 500

In [6]:
lat = 24.8607

In [7]:
lon = 67.00

In [8]:
TZ_lon = 173

In [9]:
freq = 'D'

In [10]:
et1.param_est(tsdata, freq, z_msl, lat, lon, TZ_lon)

In [11]:
et1.ts_param.head()

,R_s,T_max,T_min,e_a,R_n,G,T_mean,T_dew,RH_min,RH_max,...,n_sun,U_z,P,gamma,e_max,e_min,e_s,delta,R_a,U_2
date,,,,,,,,,,,,,,,,,,,,,
2000-01-01,13.4,17.700001,13.7,1.60,6.521282,0.0,15.70,NaN,NaN,NaN,...,NaN,NaN,95.527647,0.063526,2.025376,1.567747,1.796562,0.114199,23.052870,2.0
2000-01-02,14.7,19.600000,13.0,1.68,7.057623,0.0,16.30,NaN,NaN,NaN,...,NaN,NaN,95.527647,0.063526,2.281006,1.497771,1.889388,0.118099,23.101807,2.0
2000-01-03,12.2,21.700001,9.2,1.09,5.519565,0.0,15.45,NaN,NaN,NaN,...,NaN,NaN,95.527647,0.063526,2.595970,1.163665,1.879817,0.112606,23.154530,2.0
2000-01-04,4.2,14.400000,8.4,1.04,3.415321,0.0,11.40,NaN,NaN,NaN,...,NaN,NaN,95.527647,0.063526,1.640576,1.102347,1.371462,0.089314,23.211015,2.0
2000-01-05,14.1,11.700000,8.9,1.12,6.446142,0.0,10.30,NaN,NaN,NaN,...,NaN,NaN,95.527647,0.063526,1.375058,1.140328,1.257693,0.083748,23.271236,2.0

In [12]:
eto1 = et1.eto_fao()

In [29]:
eto1.head()

date
2000-01-01    1.73
2000-01-02    1.88
2000-01-03    2.58
2000-01-04    1.31
2000-01-05    1.45
Name: ETo_FAO_mm, dtype: float64

In [30]:
print(eto1)

date
2000-01-01    1.73
2000-01-02    1.88
2000-01-03    2.58
2000-01-04    1.31
2000-01-05    1.45
2000-01-06    2.55
2000-01-07    2.04
2000-01-08    1.46
2000-01-09    2.50
2000-01-10    1.92
2000-01-11    2.61
2000-01-12    2.64
2000-01-13    2.81
2000-01-14    3.47
2000-01-15    1.67
2000-01-16    2.60
2000-01-17    2.62
2000-01-18    2.90
2000-01-19    3.12
2000-01-20    2.80
2000-01-21    3.14
2000-01-22    2.99
2000-01-23    3.77
2000-01-24    2.74
2000-01-25    2.69
2000-01-26    2.34
2000-01-27    2.89
2000-01-28    2.99
2000-01-29    1.55
2000-01-30    3.86
              ...
2015-12-02    1.67
2015-12-03    4.30
2015-12-04    3.66
2015-12-05    1.81
2015-12-06    3.64
2015-12-07    1.49
2015-12-08    2.18
2015-12-09    2.54
2015-12-10    1.71
2015-12-11    3.74
2015-12-12    1.50
2015-12-13    4.01
2015-12-14    1.77
2015-12-15    3.17
2015-12-16    2.84
2015-12-17    1.66
2015-12-18    1.85
2015-12-19    2.06
2015-12-20    1.50
2015-12-21    0.98
2015-12-22    4.85
2015-12-23    1.57
2015-12-24    1.36
2015-12-25    2.04
2015-12-26    1.99
2015-12-27    1.74
2015-12-28    1.65
2015-12-29    1.96
2015-12-30    2.40
2015-12-31    2.12
Name: ETo_FAO_mm, Length: 5821, dtype: float64

In [38]:
export_csv = eto1.to_csv (r'C:\Users\User\Desktop\export_dataframe.csv', index = None, header=True) 
#Don't forget to add '.csv' at the end of the path

In [39]:
print(et1)

<eto.core.ETo object at 0x000001D477BE3AC8>